p{
    Color:Black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color:blanchedalmond;
    text-align: center;
}
.skill{
color:black;
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

a{
    color:blue;
    font-family: monospace;
    
}